.DS_Store
node_modules

/.direnv
/.svelte-kit
/config/*.config.ts
/build
/package
/src/lib/styled-system
/src/lib/styled-system-studio

/pgdata
/dump.rdb

vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
